/* Modal (Dialog) Styling */
/* Modal (Dialog) Styling */
dialog {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; */
  background-color: #ECECEC;
  /* Light gray for the modal */
  border: 2px solid #4CAF50;
  /* Green border */
  border-radius: 8px;
  padding: 20px;
  padding-top: 0px;
  font-family: 'Varela Round', sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  backdrop-filter: blur(5px);
  /* Apply blur filter */
}

/* Close button styling */
dialog .dialog-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  /* margin-bottom: 10px; */
}

dialog .close-btn {
  background: none;
  color: #4CAF50;
  /* Green color for the button */
  border: none;
  width: 10%;
  position: relative;
  right: 0;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 0;
}

dialog .close-btn i {
  font-size: 24px;
  /* Font Awesome icon size */
}

/* Hover effect for close button */
dialog .close-btn:hover {
  color: #ff001e;
  /* Red when hovered */
}

/* Title and Content Styling */
dialog h2,
dialog h3,
dialog h4 {
  text-align: center;
  color: #333;
}

dialog h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

dialog h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

dialog h4 {
  font-size: 16px;
  font-weight: normal;
  color: #555;
}

/* Content Styling */

dialog .dialog-content {
  width: 100%;
}

.dialog-content>* {
  padding: 4%;
  margin: 2% auto;
}

.dialog-htext {
  padding-top: 1px;
}

.created-fields {
  padding: 1.5%;
  border: 2px solid #4CAF50;
  /* Green border */
  width: 80%;
  border-radius: 4px;
  margin-bottom: 9px;
}

#continue-button {
  font-size: 1.1rem;
}

/* Modal (Dialog) - Text Styling */
dialog p {
  font-size: 16px;
  color: #555;
  text-align: center;
  line-height: 1.5;
}