<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Food Tracker</title>
    <link th:href="@{/css/foodTracker.css}" rel="stylesheet"/>
</head>
<body>
<h1>Food Tracker</h1>

<!-- Logout Button -->
<form th:action="@{/logout}"  method="post" style="display: inline;">
    <button class="logout-btn" type="submit">Log out</button>
</form>

<!-- Food Entries Table -->
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Calories</th>
        <th>Price (&euro;)</th>
        <th>Date/Time</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="food-entry-body">
    <tr th:each="foodEntry, iStat : ${foodEntries}">
        <td th:text="${iStat.index + 1}"></td>
        <td th:text="${foodEntry.name}"></td>
        <td th:text="${foodEntry.getDescription()}"></td>
        <td th:text="${foodEntry.calories}"></td>
        <td th:text="${foodEntry.price}"></td>
        <td>
          <span th:text="${foodEntry.getDate()}"></span>
          <br/>
          <span th:text="${foodEntry.getTime()}"></span>
        </td >
        <td>
          <form th:action="@{/admin/food/update}" method="get">
          <input type="hidden" name="id" th:value="${foodEntry.getId()}" />
          <button type="submit">Edit</button>
        </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
