<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Food Tracker</title>
    <link th:href="@{/css/foodTracker.css}" rel="stylesheet"/>
    <script th:src="@{/js/foodTracker.js}" defer></script>
</head>
<body>
<h1>Food Tracker</h1>

<!-- Logout Button -->
<form th:action="@{/logout}"  method="post" style="display: inline;">
    <button class="logout-btn" type="submit">Log out</button>
</form>

<!-- Monthly Expenditure and Calorie Messages -->
<div>
    <p th:text="|Current Monthly Expenditure: ${totalExpenditure} Euros|"></p>
    <p th:text="|Current Weekly Expenditure: ${weeklyExpenditure} Euros|"></p>
    <p th:text="|Current Daily Calorie Count: ${dailyCalories} kcal|"></p>
</div>
<div >
  <p style="color: red;" th:if="${totalExpenditure> 1000}"> <strong>Warning</strong>, you're over the monthly expenditure limit</p>
  <p style="color: red;" th:if="${dailyCalories> 2500}"><strong>Warning</strong>, you're over the daily calorie limit</p>
</div>

<div class="button-container">
    <!-- Button for Add Food Entry -->
    <button id="addFoodBtn" type="button" onclick="document.getElementById('foodEntryDialog').showModal()">Add Food Entry</button>

    <!-- Button for Calorie Report -->
    <button type="button" onclick="document.getElementById('calorieReportDialog').showModal()">Calorie Report</button>

    <button type="button" onclick="document.getElementById('intervalDialog').showModal()">Enter Interval of Time</button>
</div>

<div id="pagination-buttons">
  <!-- <span>pages</span> -->
</div>

<!-- Food Entry Dialog -->
<dialog id="foodEntryDialog">
    <form th:action="@{/food/add}" method="post">
        <h2>Add Food Entry</h2>
        <label for="datetime">Date/Time</label>
        <input type="datetime-local" id="datetime" name="datetime" />
        <input type="checkbox" id="autoDatetime" onchange="document.getElementById('datetime').disabled = this.checked"> Use Current Time
        <br><br>

        <label for="foodName">Food Name</label>
        <input type="text" id="foodName" name="name" placeholder="e.g., Apple, Ice Cream" required />
        <br>

        <label for="description">Description</label>
        <input type="text" id="description" name="description" placeholder="e.g., Sweet, Sour" required />
        <br>

        <label for="calories">Calorie Value</label>
        <input type="number" id="calories" name="calories" placeholder="e.g., 120" required />
        <br>

        <label for="price">Price</label>
        <input type="number" step=".01" id="price" name="price" placeholder="e.g., 5.00" required />
        <br>

        <menu>
            <button id="fed-cancel" type="button" value="cancel" onclick="document.getElementById('foodEntryDialog').close()">Cancel</button>
            <button type="submit" value="save">Save</button>
        </menu>
    </form>
</dialog>

<!-- Calorie Report Dialog -->
<dialog id="calorieReportDialog">
    <h2>Days Exceeding Calorie Limit</h2>
    <ul>
        <li th:each="day : ${exceededCalorieDays}" th:text="|Day: ${day.getKey()} with ${day.getValue()} calories|"></li>
    </ul>
    <button type="button" onclick="document.getElementById('calorieReportDialog').close()">Close</button>
</dialog>


<dialog id="intervalDialog">
    <form th:action="@{/food/get-interval}" method="get">
        <h2>Enter Interval of Time</h2>
        <label for="interval-start">Start Date:</label>
        <input type="date" id="interval-start" name="start-date" required>
        <br>
        <label for="interval-end">End Date:</label>
        <input type="date" id="interval-end" name="end-date" required>
        <br>
        <menu>
            <button type="button" onclick="document.getElementById('intervalDialog').close()">Cancel</button>
            <button type="submit">Submit</button>
        </menu>
    </form>
</dialog>

<!-- Food Entries Table -->
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Calories</th>
        <th>Price (&euro;)</th>
        <th>Date/Time</th>
    </tr>
    </thead>
    <tbody id="food-entry-body">
    </tbody>
</table>

</body>
</html>
