<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link th:href="@{/reg-and-login.css}" rel="stylesheet"/>
</head>
<body>
<div class="form-container">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <input type="email" name="username" placeholder="Email Address" required>

        <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Password" minlength="6" maxlength="32" required>
            <label>
                <input type="checkbox" id="togglePassword"> Show Password
            </label>
        </div>

        <button type="submit">Log In</button>

    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
	<dialog id="dial" th:if="${user != null}">
	  <h2> User successfully created with properties:</h3>
      <div>
        <h3>Name: </h3>
        <h4 th:text="${user.getName()}"></h4>
      </div>
      <div>
        <h3>Email: </h3>
        <h4 th:text="${user.getEmail()}"></h4>
      </div>
	  <h2>You can log in now</h2>
    </dialog>
	<script th:if="${user != null}">
      document.getElementById("dial")?.showModal();
    </script>
    <script>
        // Toggle password visibility
        const togglePassword = document.getElementById('togglePassword');
        const passwordField = document.getElementById('password');

        togglePassword.addEventListener('change', function () {
            if (this.checked) {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    </script>
</div>
</body>
</html>
