<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link th:href="@{/reg-and-login.css}" rel="stylesheet"/> <!-- Linking the reg-and-login.css file -->
</head>
<body>
<div class="form-container">
	<dialog id="dial" th:if="${message != null}">
		<h1 th:text="${message}"></h1>
	</dialog>
    <h2>Register</h2>
    <form th:action="@{/user/register}" method="post">
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="password" name="password" placeholder="Password" minlength="6" maxlength="32" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Log in here</a></p>
	<script th:if="${message != null}">
      document.getElementById("dial")?.showModal();
    </script>
</div>
</body>
</html>
