<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link th:href="@{/css/reg-and-login.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet" />
</head>
<body>
<div class="form-container">

    <dialog id="dialog-box" class="dialog-container" th:if="${message != null}">
        <div class="dialog-header">
            <button class="close-btn" onclick="document.getElementById('dialog-box').close()">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="dialog-content">
            <h2 th:text="${message}"></h2>
            <a th:href="@{/login}">Did you mean to log in?</a>
        </div>
    </dialog>

    <h2>Register</h2>
    <form th:action="@{/user/register}" method="post">
        <div class="form-group email-exists" th:if="${message!=null}">
          <p class="red" th:text="${message}"></p>
          <a th:href="@{/login}">Did you mean to log in?</a>
        </div>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" placeholder="Full Name" required>
        </div>
        <!-- <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div> -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" placeholder="Email Address" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" minlength="6" maxlength="32" required>
            <div class="toggle-password">
                <input type="checkbox" id="togglePassword"> <span>Show Password</span>
            </div>
        </div>
        <div class="form-group">
            <label for="calorieLimit">Calorie Limit</label>
            <input type="number" id="calorieLimit" name="calorieLimit" placeholder="Calorie Limit" minlength="0" value="2500" disabled>
        </div>
        <button type="submit">Register</button>
    </form>
    <p class="register-text">Already have an account? <a href="/login">Log in here</a></p>

    <script>
        // Toggle password visibility
        const togglePassword = document.getElementById('togglePassword');
        const passwordField = document.getElementById('password');

        togglePassword.addEventListener('change', function () {
            if (this.checked) {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    </script>
</div>
</body>
</html>